{:deps   {:aliases [:cljs]}

 :http {:port 3333
        :ssl-port 23456
        :host "0.0.0.0"}

 :builds {:hulunote {:target :browser
                     :output-dir "resources/public/hulunote"
                     :asset-path "/hulunote"
                     :compiler-options {:infer-externs :auto
                                        :externs ["datascript/externs.js"]}
                     :modules
                     {:hulunote {:init-fn hulunote.core/init!}}
                     :devtools
                     {:http-port  8803
                      :http-root  "../hulunote-rust/resources/public"
                      :after-load hulunote.core/after-load
                      :preloads [shadow.remote.runtime.cljs.browser]}
                     ;; release 模式才用 advanced 优化
                     :release
                     {:compiler-options {:optimizations :advanced}}}}}
